* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(217, 54%, 11%);
    display: flex;
    align-items: space-around;
    justify-content: center;
    /* flex-direction: column; */
}

p {
    font-size: 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card-container {
    background: hsl(216, 50%, 16%);
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    /* height: 70vh; */
}

.card-container #img {
    width: 20em;
    height: 20em;
}